name: Azure Boards Gateway

on:
  workflow_dispatch:
    inputs:
      dummy:
        description: "Dummy input"
        required: false
        type: string

jobs:
  gateway:
    runs-on: ubuntu-latest

    steps:
      - name: Extract Azure Boards Payload
        run: |
          echo "Extracting payload from event.json"
          cat $GITHUB_EVENT_PATH

          # Work Item ID
          ID=$(jq -r '.resource.id' $GITHUB_EVENT_PATH)
          TITLE=$(jq -r '.resource.fields["System.Title"]' $GITHUB_EVENT_PATH)
          TYPE=$(jq -r '.resource.fields["System.WorkItemType"]' $GITHUB_EVENT_PATH)

          # Logic to pick prefix
          if [[ "$TYPE" == "Bug" ]]; then PREFIX="bugfix"
          else PREFIX="feature"
          fi

          cat <<EOF > payload.json
          {
            "event_type": "create-branch",
            "client_payload": {
              "prefix": "${PREFIX}",
              "ticket": "CLOUD-${ID}",
              "title": "${TITLE}"
            }
          }
          EOF
