name: Azure Boards Gateway

on:
  workflow_dispatch:
    inputs:
      event_type:
        description: "Type of automation"
        required: true
        type: string
      ticket:
        description: "Ticket ID (CLOUD-123)"
        required: true
        type: string
      prefix:
        description: "feature / bugfix / hotfix / chore"
        required: true
        type: string
      title:
        description: "Work item title"
        required: true
        type: string

jobs:
  dispatch:
    runs-on: ubuntu-latest
    steps:
      - name: Forward to repository_dispatch
        run: |
          echo "Forwarding to repository_dispatch"

          # Construimos el JSON final
          cat <<EOF > payload.json
          {
            "event_type": "${{ github.event.inputs.event_type }}",
            "client_payload": {
              "prefix": "${{ github.event.inputs.prefix }}",
              "ticket": "${{ github.event.inputs.ticket }}",
              "title": "${{ github.event.inputs.title }}"
            }
          }
          EOF

          echo "Sending:"
          cat payload.json

          curl -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            https://api.github.com/repos/JulioQes/POC-LAUREATE-BOARD/dispatches \
            -d @payload.json
